  
<html>

<head>
<title>Welcome to Records Update</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>

<div class="topnav">
  <a class="active" href="dataentry">Add Data</a>
  <a href="records">Records</a>
</div>
<center><img src= url("/static/Frontgate.jpg" alt="what image shows" height="150" width="200"></center>

</body>
  <!--
<style>
body {
  <!--
  background-image: url("/static/Frontgate.jpg");
  background-repeat: repeat;
  background-size: 300px 300px; -->
  <p style="text-align:center;"><img src=url("/static/Frontgate.jpg"></p>
  <center><img src="https://www.computerhope.com/cdn/media/logo-200-gray.png" alt="what image shows" height="150" width="200"></center>
}

</style>
-->
</html>
