<html>

<head>
<title>Medical Drug Records</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>


<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="records">Records</a>
</div>


<form role="form" method="POST" action="/data-entry ">
  <label for="mname">Name of Medication:</label><br>
  <input type="text" id="mname" name="mname"><br>
  <label for="Pname">Who verified the dose:</label><br>
  <input type="text" id="Pname" name="Pname"><br>
  <label for="Qname">Quantity/Dosage:</label><br>
  <input type="text" id="Qname" name="Qname"><br><br>
   <input type="submit" value="Submit">
</form>

</body>
</html>
