<html>

<head>
<title>Medical Drug Records</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>


<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="dataentry">Data Entry</a>
</div>

<table class="table" style= border: 1px solid black;
  border-collapse: collapse;>
  <thead>
    <tr>
      <th scope="col">Medication</th>
      <th scope="col">Verified by:</th>
      <th scope="col">Quantity/Dosage</th>
      <th scope="col">Time</th>
	  <th scope="col">Block Hash</th>
	  <th scope="col">Previous Hash</th>
    </tr>
  </thead>
	{% for medicine in allRecords %}
	<tr>
	<th scope="row">{{medicine.type}}</th>
	<td>{{medicine.verified_by}}
	</td>
	<td>{{medicine.quantity}}
	</td>
	<td>{{medicine.created_on}}
	</td>
	<td>{{medicine.block_hash}}
	</td>
	<td>{{medicine.previous_hash}}
	</td>
	<td>{{medicine.block_hash}}
	</td>
{% endfor %}
</table>
</body>
</html>
