<html>

<head>
<title>Medical Drug Records</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>


<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="dataentry">Data Entry</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Medication</th>
      <th scope="col">Verified by:</th>
      <th scope="col">Quantity/Dosage</th>
      <th scope="col">Time</th>
	  <th scope="col">Block Hash</th>
	  <th scope="col">Previous Hash</th>
    </tr>
  </thead>
	{% for medicine in records %}
	<tr>
	<th scope="row">{{Records.type}}</th>
	<td>{{Records.verified_by}}
	</td>
	<td>{{Records.created_on}}
	</td>
	<td>{{Records.quantity}}
	</td>
	<td>{{Records.block_hash}}
	</td>
	<td>{{Records.previous_hash}}
	</td>
	<td>{{Records.block_hash}}
	</td>

</body>
</html>
