<html>

<head>
<title>Medical Drug Records</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>


<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="dataentry">Data Entry</a>
</div>

<table style="width:95%">
  <tr>
    <th>Name of Medication:</th>
    <th>Verified by:</th>
    <th>Quantity/Dosage: </th>
	<th>Hash Value: </th>
  </tr>
  <tr>
    <td>#Names go here</td>
    <td>#Doctors go here</td>
    <td>#DOSAGE GOES HERE</td>
	<td>#Hash Value</td>
  </tr>
  <tr>
    <td>#Names go here</td>
    <td>#Doctors go here</td>
    <td>#DOSAGE GOES HERE</td>
	<td>#Hash Value</td>
  </tr>
  
</table>

</body>
</html>
